<h4>Sort</h4>
<label>Sort by</label>
<select>
  <option *ngFor="let option of sort_options" value="{{option}}">{{option}}</option>
</select>
<br>
<h4>Filter</h4>
<label>Manufacturer</label>
<select>
  <option *ngFor="let option of manufacturer_options" value="{{option}}">{{option}}</option>
</select>
<br>
<label>Brand</label>
<select>
  <option *ngFor="let option of brand_options" value="{{option}}">{{option}}</option>
</select>

<ul *ngIf="cars" class="list">
  <li *ngFor="let car of cars.results">
    <img class="car-image" [src]="car.image">
    <p>{{ car.manufacturer }}, 
      {{ car.brand }} 
      {{ car.model }}, 
      {{ car.price }} Euro,
      {{ car.power }} hp,
      {{ car.drive }} drive,
      {{ car.engine_type }},
      {{ car.transmission }} transmission
    </p>
  </li>
</ul>

<ul *ngIf="cars" class="pagination">
    <li [ngClass]="{disabled:cars.previous === null}">
        <a (click)="setPage(cars.current - 1)">Previous</a>
    </li>
    <li *ngFor="let page of page_numbers_array" [ngClass]="{active:cars.current === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:cars.next === null}">
        <a (click)="setPage(cars.current + 1)">Next</a>
    </li>
</ul>